@font-face {
  font-family: 'Wire One';
  font-style: normal;
  font-weight: 400;
  src: local('Wire One'), local('WireOne'), url(../fonts/w3ot9zg2inhirdsqwskst_eszw2xoq-xsnqo47m55da.ttf) format('truetype');
}
