@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../fonts/uyyryy3lteffjv9quesi4upenx8rpf6i6wqfjwycwes.ttf) format('truetype');
}
